.hmnet-editable-field {
	&__editable {
		.mt-block-field__block {
			min-height: var(--scale-size-32) !important;
		}

		.mt-field .mt-field__label {
			margin-bottom: 0.25rem;
		}
	}

	&__readonly {
		label {
			display: block;
			margin-bottom: 0.25rem;
			color: var(--color-text-secondary-default);
		}

		&__value {
			font-weight: 500;
			min-height: 1em;
		}
	}
}
