{% set currencyIso = context.currency.isoCode %}
{% if displayMode == 'order' and order is not null %}
	{% set currencyIso = order.currency.isoCode %}
{% endif %}

{% set baseData = parentLineItem.payload.hmnetConfiguratorBasePrice ?? {} %}
{% set baseUnitPrice = baseData.unit ?? (parentLineItem.price ? parentLineItem.price.unitPrice : null) %}
{% set baseTotal = baseData.total ?? (parentLineItem.price ? parentLineItem.price.totalPrice : null) %}

{% set showLineItemModal = activeRoute is defined and activeRoute is same as('frontend.checkout.confirm.page') %}

{% if displayMode != 'order' or parentLineItem.productId %}
	{% set lineItemLink = seoUrl('frontend.detail.page', { productId: parentLineItem.referencedId }) %}
{% else %}
	{% set lineItemLink = null %}
{% endif %}

{% if showLineItemModal %}
	{% set lineItemModalLink = path('widgets.quickview.minimal', { productId: parentLineItem.referencedId }) %}
{% else %}
	{% set lineItemModalLink = false %}
{% endif %}

{% set deliveryTimeName = null %}
{% if parentLineItem.deliveryInformation and parentLineItem.deliveryInformation.deliveryTime %}
	{% set deliveryEntity = parentLineItem.deliveryInformation.deliveryTime %}
	{% set deliveryTimeName = deliveryEntity.translated.name ?? deliveryEntity.name %}
{% endif %}

{% set wishlistEnabled = config('core.cart.wishlistEnabled') %}
{% set showDeliveryDate = config('core.cart.showDeliveryTime') %}
{% set orderCurrencyIso = (parentLineItem.order is defined and parentLineItem.order is not null) ? parentLineItem.order.currency.isoCode : currencyIso %}
{% set pageEntity = page|default(null) %}

{% block hmnet_product_configurator_line_item %}
	<div class="hmnet-configurator-children" data-hmnet-configurator-children="true">
		{% sw_include '@HMnetConfigurator/storefront/component/line-item/configurator/header.html.twig' with {
			parentLineItem: parentLineItem,
			lineItemLink: lineItemLink,
			lineItemModalLink: lineItemModalLink,
			deliveryTimeName: deliveryTimeName,
			baseUnitPrice: baseUnitPrice,
			baseTotal: baseTotal,
			currencyIso: currencyIso,
			wishlistEnabled: wishlistEnabled,
			showDeliveryDate: showDeliveryDate,
			page: pageEntity
		} only %}

		{% if children and children|length > 0 %}
			<div class="hmnet-configurator-children__title">
				{{ 'hmnet-configurator.cart.optionsTitle'|trans|sw_sanitize }}:
			</div>
		{% endif %}

		{% sw_include '@HMnetConfigurator/storefront/component/line-item/configurator/option-list.html.twig' with {
			children: children,
			currencyIso: currencyIso
		} only %}

		{% sw_include '@HMnetConfigurator/storefront/component/line-item/configurator/setup-film-list.html.twig' with {
			setupFilmChildren: setupFilmChildren,
			currencyIso: currencyIso
		} only %}

		{% sw_include '@HMnetConfigurator/storefront/component/line-item/configurator/actions.html.twig' with {
			parentLineItem: parentLineItem,
			redirectTo: redirectTo,
			redirectParameters: redirectParameters|default(null),
			formAction: formAction,
			orderCurrencyIso: orderCurrencyIso,
			displayMode: displayMode|default('default'),
			order: order|default(null)
		} only %}
	</div>
{% endblock %}
