<mt-card :title="$tc('hmnet-configurator.general.cardTitle')" :subtitle="$tc('hmnet-configurator.general.cardSubtitle')" :large="true">
	<template #headerRight>
		<mt-button variant="secondary" size="small" @click="onAddField" :disabled="isSaving">
			{{ $tc('hmnet-configurator.toolbar.addPosition') }}
		</mt-button>
		<mt-button variant="primary" size="small" @click="onSaveFields" :disabled="isSaveDisabled" :loading="isSaving">
			{{ $tc('hmnet-configurator.toolbar.save') }}
		</mt-button>
	</template>
	<template #grid>
		<sw-data-grid :data-source="fields" :columns="columns" :show-selection="false" :show-actions="true" :allow-inline-edit="true" :is-loading="isLoading" :skeleton-item-amount="5" :compact-mode="true">
			<template #empty-state>
				<sw-empty-state v-if="!isLoading" :title="$tc('hmnet-configurator.emptyState.title')" :description="$tc('hmnet-configurator.emptyState.description')">
					<template #actions>
						<mt-button variant="primary" size="small" @click="onAddField" :disabled="isSaving">
							{{ $tc('hmnet-configurator.toolbar.addPosition') }}
						</mt-button>
					</template>
				</sw-empty-state>
			</template>
			<template #column-options="{ item, isInlineEdit }">
				<div v-if="item.options && item.options.length" class="sw-data-grid__options-cell">
					<div v-for="option in item.options" :key="option.id" class="sw-data-grid__option-container">
						<hmnet-configurator-option-container v-model:option="option" :is-editable="isInlineEdit" @remove-option="onRemoveOption(item.id, option.id)"/>
					</div>
				</div>
				<div v-else>
					<span class="sw-data-grid__empty-cell">
						{{ $tc('hmnet-configurator.table.option.noOptions') }}
					</span>
				</div>
			</template>
			<template #actions="{ item }">
				<sw-context-menu-item @click="onAddOption(item.id)" icon="plus-circle-s">
					{{ $tc('hmnet-configurator.table.option.addOption') }}
				</sw-context-menu-item>
				<sw-context-menu-item @click="onRegenerateTiers(item.id)" icon="regular-repeat">
					{{ $tc('hmnet-configurator.table.price.regenerateTiers') }}
				</sw-context-menu-item>
				<sw-context-menu-item variant="danger" icon="regular-trash" @click="onRemoveField(item.id)">
					{{ $tc('hmnet-configurator.table.removeField') }}
				</sw-context-menu-item>
			</template>
		</sw-data-grid>
	</template>
</mt-card>
