<div class="hmnet-product-configurator__breakdown">
	<h3 class="hmnet-product-configurator__breakdown__title">
		{{ 'hmnet-configurator.breakdown.title'|trans }}
	</h3>
	<ul class="hmnet-product-configurator__breakdown__list" data-hmnet-breakdown-list></ul>
</div>
