<h1 class="hmnet-product-configurator__title">
	{{ product.translated.name }}
</h1>
{% if product.translated.metaDescription %}
	<p class="hmnet-product-configurator__description">
		{{ product.translated.metaDescription }}
	</p>
{% endif %}
